<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="BuildingId" value="1"/>
    <add key="MaximumNumberOfFloors" value="6"/>
    <add key="MinimumNumberOfFloors" value="3"/>
    <add key="MaximumNumberOfRoomsPerFloor" value="6"/>
    <add key="MinimumNumberOfRoomsPerFloor" value="4"/>
    <add key="MaximumNumberOfBookingsPerRoom" value="10"/>
    <add key="MinimumNumberOfBookingsPerRoom" value="4"/>
  </appSettings>
</configuration>
